<svg
  #svg
  width="300"
  height="170"
  xmlns="http://www.w3.org/2000/svg"
  *ngIf="shape"
  [style.top]="shape.y + 'px'"
  [style.left]="shape.x + 'px'"
>
  <rect
    class="shape-rect"
    width="150"
    height="150"
    [attr.x]="10"
    [attr.y]="10"
    rx="20"
    ry="20"
    [attr.fill]="shape.color || 'red'"
    (mouseover)="onMouseOverShape()"
    (mouseout)="onMouseUpShape()"
  />
  <text fill="black" [attr.x]="60" [attr.y]="55">{{ label }}</text>
  <circle
    [ngClass]="isShown ? 'shown' : 'hide'"
    *ngFor="let anchor of anchors; let i = index"
    [attr.cx]="anchor.x"
    [attr.cy]="anchor.y"
    r="5"
    [attr.fill]="shape.color"
    [attr.data-id]="i"
    style="opacity: 0.5"
    (mousedown)="handleAnchorClick($event, i)"
  />
  <!-- (mousedown)="onMouseDown($event)" -->
</svg>
