.split {
  min-height: calc(100vh - 100px) !important;
}
.container {
  position: relative;
  width: 100%;
  // overflow: scroll;
  background-color: whitesmoke;
  // flex-basis: calc(87.7583% - 4px);
}
.toolbarArea {
  position: relative;
  background-color: whitesmoke;
  width: 100%;
}
